/*App Styles*/

.App {
  background-color: lightgray;
  min-height:100vh;
}

.App-topper {
  width: 100%;
}

.App-header {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color:#050402;
}

.App-footer {
  font-size: 10px;
  width: 100%;
  background-color: lightgray;
  padding-top: 10px;
  text-align: right;
}

p {
  margin-top: 0;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
}

button {
  background-color: #f56237;
  border-radius: 10px;
  border: 0px;
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 13px;
  text-align: center;
}

button:hover {
  background-color: #a80000;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  color:#050402;
}

li {
  list-style: none;
  width: 80%;
  margin: auto;
  padding: 10px;
}

li:hover {
  background-color: #a80000;
  color: white;
}

a {
  text-decoration: none;
  color:#050402;
}

.main-nav a {
  display: block;
}

.main-nav:active {
  color:  #a80000;
}

/*Search bar styles*/

.search-form {
  padding: 10px;
  text-align: center;
  border: none;
}

/*Card styles*/

.books-card {
  background: white;
  border-radius: 5px;
  margin-top: 1em;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.book-card-detail {
  background: white;
  margin: 20px auto;
  border-radius: 5px;
  max-width: 80%;
  min-height: 250px;
  text-align: center;
  padding: 10px;
  text-align: center;
}

.book-card-detail img, 
.book-card-detail p, 
.book-card-detail h3 {
  margin: 10px;
  text-align: left;
}

.book-card-detail img {
  float: left;
}

.author-name {
  font-style: italic;
}

.book-card-detail button {
  display: block;
  margin: 5px auto;
  width: 25%;
}

.faux-button {
  background-color: #f56237;
  font-family: Arial;
  font-size: 13px;
  border-radius: 10px;
  border: 0px;
  padding: 5px 10px;
  margin: 5px auto;
  width: 50%;
  text-align: center;
  align-content: center;
  display: block;
}

.faux-button:hover {
  background-color: #a80000;
  color: white;
}

/*Error styles */

.not-found{
  text-align: center;
  margin-top: 20px;
}

.not-found img {
  max-width: 60vw;
}

.not-found h3 {
  text-transform: uppercase;
}

.error {
  margin: auto;
  margin-top: 20px;
  max-width: 70%;
  color: #a80000 ;
}

/*Media queries */
@media (min-width: 600px) {
  .main-nav li {
  display: inline;
  }
  .main-nav {
    margin: 20px;
  }
  h1 {
    margin-bottom: 30px;
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .books-card {
    max-width: 30%;
    margin: 10px;
  }

  .not-found img {
    max-width: 40vw;
  }

  .main-nav li {
    padding: 10px;
  }

  .main-nav a {
    display: inline-block;
  }
  
  .faux-button {
    width: auto;
    min-width: 25%;
    margin: 5px 5px;
    display: inline-block;
  }

}

@media (min-width: 900px) {
  .books-card {
    max-width: 25%;
  }

}